MACHINE ??= "raspberrypi4-64"
DISTRO ?= "poky"
PACKAGE_CLASSES ?= "package_rpm"

# Keep milestone-1 image simple and accessible for bring-up.
EXTRA_IMAGE_FEATURES ?= "debug-tweaks ssh-server-openssh"

# Build output format that is convenient for SD card flashing.
IMAGE_FSTYPES += "wic.bz2"

# Shared caches reduce rebuild time, especially in containerized builds.
DL_DIR ?= "${TOPDIR}/../cache/downloads"
SSTATE_DIR ?= "${TOPDIR}/../cache/sstate-cache"

# Required by meta-raspberrypi firmware package selection on raspberrypi4-64.
LICENSE_FLAGS_ACCEPTED += "synaptics-killswitch"

USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
CONF_VERSION = "2"